/* Layout */
@media only screen and (max-width: 960px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 765px) {
  footer .social-link {
    margin-right: 0;
  }

  footer .social-link, footer > span {
    display: block;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 500px) {
  #main form button {
    width: 100%;
  }

  #shortened_url p {
    font-size: 1.1em;
  }

  .copy_link {
    display: block;
    margin: 15px 0;
  }

  #shortened_url button{
    margin: 15px auto;
  }

  #history ul li span:last-child{
    margin-top: 15px;
  }
}