<h1>Url Shortner Built In Sinatra!</h1>
<form action="/urls" method="post">
	<p>
		<input type="text" name="url" id="url" placeholder="Enter Url">
	</p>

	<p>
		<button type="submit">Shorten Url</button>
	</p>
</form>